In [ ]:
import pandas as pd
# Load data from the 'dataset' sheet, range B6:CY266, with 'Date' as the date column
df_data = pd.read_excel(
    'data/mock model.xlsx',
    sheet_name='DataSet',
    usecols='B:CZ',
    skiprows=5,
    nrows=261,
    parse_dates=['Date']
).set_index('Date')

# df.head()

In [ ]:
df_eqn_all = pd.read_excel(
    'data/mock model.xlsx',
    sheet_name='EqnSpec',
    usecols='A:D',
).set_index('Variable')

# Filter and convert 'Log' column: only 1 is True, anything else is False
df_eqn = df_eqn_all[df_eqn_all['Beta_Log'].notnull()].copy()
df_eqn['Log'] = df_eqn['Log'] == 1
df_eqn

                         Beta_Log     Carryover   Log
Variable
C                    1.200000e+01           NaN  True
D_JAN               -1.500000e-01           NaN  True
D_FEB               -1.000000e-01           NaN  True
D_MAR                8.000000e-02           NaN  True
D_APR                1.000000e-01           NaN  True
D_MAY                1.000000e-01           NaN  True
D_SEP                5.000000e-02           NaN  True
D_OCT                1.000000e-01           NaN  True
D_NOV                1.500000e-01           NaN  True
D_DEC               -2.000000e-01           NaN  True
SCHOOL_EASTER       -5.000000e-02           NaN  True
SCHOOL_HT_FEB       -5.000000e-02           NaN  True
SCHOOL_HT_MAY       -5.000000e-02           NaN  True
SCHOOL_HT_OCT       -5.000000e-02           NaN  True
PAYDAY_25            8.000000e-02           NaN  True
BH_NY               -5.000000e-01           NaN  True
BH_XMAS             -7.000000e-01           NaN  True
DAY_VALENTINE        2.500000e-01  1.000000e+00  True
WW_NAT_DLTA_MAXTEMP  1.000000e-02           NaN  True
WW_NAT_DLTA_RAIN    -2.000000e-02           NaN  True
WW_NAT_DLTA_SUN      1.000000e-02           NaN  True
RSI_NFOOD_VOL_SA     1.000000e+00           NaN  True
Dist_XF              9.000000e-01           NaN  True
Price_SE_XF         -1.800000e+00           NaN  True
Prom_TFT             1.500000e-01           NaN  True
POS_FSDU             1.000000e-01           NaN  True
m_Wow_TV             1.200000e-07           NaN  True
m_Wow_Press          2.000000e-07           NaN  True
m_Wow_Radio          5.000000e-07           NaN  True
m_Amaze_Tot          9.000000e-08  9.000000e-08  True
m_Celeb_TV           1.200000e-07           NaN  True
m_Celeb_Outdoor      1.200000e-07           NaN  True
m_Celeb_Display      4.000000e-07           NaN  True
comp_Lor_Tot        -2.000000e-08           NaN  True
comp_no7_Tot        -2.000000e-08           NaN  True

In [14]:
# Show column types for df_eqn
df_eqn.dtypes

Beta_Log     float64
Carryover    float64
Log             bool
dtype: object